<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form action="" (ngSubmit)="inputClick(username)" id="searchForm">
        <div class="form-group">
          <label for="find" class="find"> Github Username:</label>
          <input
            class="form-control"
            type="search"
            placeholder="Enter Username:"
            id="find"
            name="username"
            autocomplete="off"
            [(ngModel)]="username"
          />
        </div>

        <button
          (click)="inputClick(username)"
          class="btn btn-dark searchButton"
        >
          Search
        </button>
      </form>
    </div>
  </div>
</div>

