<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">{{ user.login }}'s profile</div>
        <img src="{{ user.avatar_url }}" height="100px" alt="github profile" />
        <div class="card-body">
          <p class="card-text">Bio: {{ user.bio }}</p>
          <p class="card-text">Repositories: {{ user.public_repos }}</p>
          <p class="card-text">Joined on: {{ user.created_at | date }}</p>
          <p class="card-text">followers: {{ user.followers_url }}</p>
          <p class="card-text">following: {{ user.following_url }}</p>
          <a target="blank" href="{{ user.html_url }}"
            ><button>View on Github</button></a
          >
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h2>Repositories</h2>
      <div class="col-md-4" *ngFor="let repo of repo">
        <div class="card">
          <h3>{{ repo.name | uppercase}}</h3>
          <p class="card-text">Description: {{ repo.description}}</p>
          <p class="card-text"> created: {{ repo.created_at}}</p>
        </div>

      </div>
    </div>
  </div>
</div>
